<ion-header [translucent]="true">
  <ion-toolbar color=""dark>
    <ion-title>
      Conheça mais!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-img src="assets/images/salgueiro.jpg"></ion-img>
      <ion-card-title>Salgueiro</ion-card-title>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
      Salgueiro é um município brasileiro do interior do estado de Pernambuco, 
      Região Nordeste do país. Pertence à Mesorregião do Sertão Pernambucano 
      e à Microrregião de Salgueiro, localizando-se a oeste da capital estadual, 
      estando distante dela 513 km.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-item href="https://www.salgueiro.pe.gov.br/municipio-guia-turistico.html" target="_blank">
      <ion-icon name="leaf" slot="start"></ion-icon>
      <ion-label>Agroturismo</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item href="https://www.salgueiro.pe.gov.br/municipio-guia-turistico.html" target="_blank">
      <ion-icon name="bicycle" slot="start"></ion-icon>
      <ion-label>Aventura</ion-label>
    </ion-item>
  
    <ion-item href="https://www.salgueiro.pe.gov.br/municipio-guia-turistico.html" target="_blank">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Ecoturismo</ion-label>
    </ion-item>
  
    <ion-item href="https://www.salgueiro.pe.gov.br/municipio-guia-turistico.html" target="_blank">
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Parques</ion-label>
    </ion-item>
  </ion-card>

</ion-content>
